body{
    background-color: beige;
}
h1{
    text-align: center;
    color: dimgrey;
}
img.octocat {
    height: 200px;
}
.bloque-1 {
    background-color: aqua;
    margin: 15px;
    padding: 10px;
}
.bloque-2 {
    background-color: pink;
    margin: 15px;
    padding: 10px;
}
.bloque-3 {
    background-color: lightcoral;
    margin: 15px;
    padding: 10px
}
.displat-flex{
 display: flex;
 align-items: center;
 justify-content: space-around;

}
.margin{
    margin: 20px;
}