.Search{
    color: aqua;
    background-color: white;
    border-color: aqua;
    border-radius: 20px;
    width: 100px;
    height: 25px;
}
.mas{
    color: white;
    border-radius:70%;
    background-color: aquamarine;
    border-color: aquamarine;
}
.CreateAccount{
       background-color: dodgerblue;
       border-color:black ;
       box-shadow: 5px 5px black;
       height: 30px;
}